* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: black;
  }
  
  .login-form {
    width: 60%;
    height: auto;
    background: lightblue;
    margin: auto;
    padding: 3rem;
    display:flex;
    flex-direction: column;
    gap: 1.5rem;

  }
  .login-form > input {
    font-size: 30px;
    color: black;
  }




